.wrapper {
    padding: 20px ;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 25px;
    color: green;
}

.block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

